body{
  background-color: #343a40;
}



a{
    color:white;
}

.menu-products{
  width: 180px;
  font-size: 14px;
}

.products{
  width: 180px;
  border-radius: 10px;
  /* border:1px solid red; */
}


.img-thumbnail{
  width: 180px;
  border-radius: 10px;
  /* border:1px solid red; */
}



.card:hover{
  opacity: 0.9;
  /* border:1px solid gray; */
}

.logo{
  background-image: url('images/logo-edit.jpg');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 1030;
  height: 100px;
  width: 100px;
  border-radius:50%;
  background-color: white;
  border: 2px solid white;
  border-radius:50%;
}
#logo-modal{
  height: 80px;
  width: 80px;
  top: 3px;
}

.menu-box-container{
  height: 300px;
  width:100%;
  background-color:lightblue;
}

.d-block{
height: 550px;
}

.item-info{
  height: 250px;
}

.info-container{
  background-color: rgba(168, 168, 168, 1);
  width: auto;
}

.card-img{
height: 150px;
}

.sobre-img{
  float: right;
  height: 200px;
  padding: 20px;
  background-color: white;
  border: 2px solid rgba(241, 26, 12, 0.72);
  border-radius: 7px;
}

.products-img{
height: 120px;
width: 120px;
margin: 10px;
border-radius: 50%;
opacity: 0.9;
border:5px solid #fafafa;
box-shadow:10px 10px 30px lightgray;
blur:(1px);
}

.title-page-text{
color:white;
font-family: 'Audiowide', cursive;
font-size: 40px;
color:white
}

/* .cp1-prod{
  color:#e5423d;
  text-shadow: 2px 2px 7px #ffffff;
  font-size: 40px;
}

.cp2-prod{
  color:rgb(235, 236, 236);
  font-size: 30px;
} */
.lead{
  font-family: 'Audiowide', cursive;

}

.card-text{
  color:black;
  /* Checar  */
  min-height: 60px;
  max-height: 80px;
}

.linha{
  width: 100%;
  border: 0.5px solid red;
}
.cards:hover{
  background-color: rgb(19, 75, 242);
  margin-top: 5px;
  opacity: 0.9;
}

.clearfix{
  height:10vh;
  width: auto;
  /* background-color: blue; */
}

.banner-container{
  background-image: url('images/banner.jpeg');
  height: 1000px;
  width: 100%;
}

.border-custom{
  border-top:1px solid white;
}

#icon{
  /* font-size: 30px; */
}

.nav-item{
  font-family: 'Audiowide', cursive;

}

.nav-link{
  float: right;
  font-size: 17px;
  border-bottom: 2px solid transparent;
}

.nav-link:hover{
  border-bottom: 2px solid white;
}

.nav-item:hover{
}

.fb-ic , .ins-ic , .wp-ic{
  text-decoration: none;
  font-style: normal;
  color: white;
}

.social-box{
  margin: 5px;
  width: 150px;
  border: 1px solid white;
  border-radius: 5px;
}

.social-box:hover{
  background-color: white;
  opacity: 0.8;
  color: red;
}

/* .card-image-size{
  height: 200px;
  width: 200px;
}
.card-container{
  height: 200px;
  width: 170px;
  margin: 5px;
} */

.footer-copyright-small{
  display: none;
}

#footer-links{
  text-decoration: none;
}

#footer-links:hover{
  color: white;
  text-decoration:underline;
}

#footer-wp-icon:hover{
  color: lightblue;
}

#modal-links,#modal-wp-icon{
  text-decoration: none;
  color:white;
}




.disab{
  opacity: 0.5;
  background-color: gray;
}

#links-contato:hover{
  width: 30%;
  border-bottom: 1px solid white;
  text-decoration: none;
  color: white;
  justify-content: center;
}

#error-nome , #error-fone ,#error-mail , #error-msg{
  display: none;
  border: 1px solid red;
  border-radius: 5px;
  text-align: center;
  animation:alertt 2s infinite ease;

}

@keyframes alertt {
  /* 0%{
    border: 1px solid red;
  } */
  20%{
    border: 1px solid white;
  }
  40%{
    border: 1px solid red;
  }
  60%{
    border: 1px solid white;
  }
  80%{
    border: 1px solid red;
  }
  100%{
    border: 1px solid white;
  }
}
@media (max-width: 575.98px) {
  .logo{
    height: 70px;
    width: 70px;
    top: 3px;
  }
  #logo-modal{
    height: 70px;
    width: 70px;
    top: 3px;
  }

  .cp1{
    font-size: 50px;
  }

  .cp2{
    font-size: 40px;
  }


  #contato-alt{
  font-size: 20px;
  }

  #contato-alt-text{
    font-size: 15px;
  }


  .carousel-item{
    height: 45vh;
  }

  .clearfix{
    height:0px;
    width: auto;
    /* background-color: blue; */
    display: none;
  }

  .d-block{
    height: 100%;
  }

  .siga-text{
    font-size: 15px;
  }

  .fa-2x{
    font-size: 25px;
  }
  a{
    color: white;
  }

  .footer-copyright{
    display: none;
  }
  .footer-copyright-small{
    display:block;
  }

}


@media (max-width: 800px){
  .sobre-img{
    /* float: none; */
    height: 120px;
    width: 120px;
  }
}
